<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Merged into host app when depending on this plugin -->
    <uses-permission android:name="com.pax.permission.PICC" />
    <uses-permission android:name="com.pax.permission.PRINTER" />
    <uses-permission android:name="com.pax.permission.SCANNER" />
</manifest>
